@media (max-width:1200px){
    .About img {
        margin-top: 79px !important;
    }
}
@media (max-width:992px){
    .About img {
        margin-left: 86px !important;
    }
    .card4 {
        margin-left: 94px;
    }
}
@media (max-width:768px){
    .About img {
       margin-left: 0px !important;
    }
    .card4 {
        margin-left: 28px;
    }
}
@media (max-width:576px){
    .About img {
        margin-left: 75px !important;
    }
    .card-box {
        margin-top: 8px;
    }
    .card4 {
        margin-left: 110px;
    }
} 